<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mjmz.lrx.sample_mjmz">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--<uses-permission android:name="android.permission.READ_PHONE_STATE" />-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!--<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />-->
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!--相机和二维码扫码-->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_sample_mjmz"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyTheme"
        android:name=".MyApplication"
        >

        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="a656dc8bd0f2d74b5bd9b330e5d2c2ec" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="58e59c59677baa6397002409">
        </meta-data>
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="9eb8ce92f212c8e69e963b41375a53e0">
        </meta-data>

        <!--友盟推送-->
        <service android:name=".MyUmengMessageService" />
        <receiver android:name=".NotificationBroadCastReceiver"></receiver>

        <activity android:name=".TabMainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustPan"
            android:launchMode="singleTask"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".goods.GoodsInfoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"></activity>

        <activity android:name=".design.DesignInfoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"></activity>
        
        <activity android:name=".tab.CodeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"></activity>

        <activity android:name=".my.MyNotifyActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
                <category android:name="android.intent.category.BROWSABLE"></category>

                <data
                    android:scheme="daven"
                    android:host="my_notification">
                </data>
            </intent-filter>
        </activity>

        <activity android:name=".my.MyLanguageActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
                <category android:name="android.intent.category.BROWSABLE"></category>

                <data
                    android:scheme="daven"
                    android:host="my_switch_language">
                </data>
            </intent-filter>
        </activity>

        <activity android:name=".design.DesignHomeBanClickActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"></activity>

        <activity android:name=".design.DesignGifActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"></activity>

        <activity android:name=".my.RxAndroidActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"></activity>

        <activity android:name=".my.OkGoRxjavaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"></activity>

        <activity android:name=".my.TransformWebViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"></activity>

        <activity android:name=".my.AnimateActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"></activity>

        <activity android:name=".my.ValueAnimateActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"></activity>

        <activity android:name=".my.ObjectAnimateActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"></activity>

        <activity android:name=".my.PathAnimateActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"></activity>

        <activity android:name=".my.EncryptionActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"></activity>

        <activity android:name=".my.XfermodeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"></activity>

        <activity android:name=".my.HotPicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"></activity>

        <activity android:name=".my.CustomViewGroupActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"></activity>

        <activity android:name=".my.RyWebViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"></activity>

        <!--appsflyer-->
        <receiver android:name="com.appsflyer.MultipleInstallBroadcastReceiver" android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        <!--appsflyer-->

    </application>

</manifest>